<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hansung.financial.project.repository.BoardsMapper">

    <select id="getBoards" resultType="board">
        select * from boards
        order by created_at desc;
    </select>

    <select id="getBoard" parameterType="int" resultType="board">
        select * from boards
        where id=#{id}
    </select>

    <insert id="addBoard" parameterType="board" useGeneratedKeys="true" keyProperty="id">
        insert into boards(user_id, title, contents, view_cnt)
        values (#{user_id}, #{title}, #{contents}, #{view_cnt})
    </insert>

    <delete id="deleteBoard" parameterType="int" >
        delete from boards
        where id=#{id}
    </delete>

    <update id="updateBoard" parameterType="board">
        update boards
        set user_id=#{user_id}, title=#{title}, contents=#{contents}, view_cnt=#{view_cnt}
        where id = #{id}

    </update>
</mapper>